<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Ibtsic1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SetBusLocationAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.SetBusLocationAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetBusLocationAction</servlet-name>
    <url-pattern>/setBusLocationAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAnnouncementAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.AddAnnouncementAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnnouncementAction</servlet-name>
    <url-pattern>/addAnnouncementAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetActiveAnnouncementsForPathAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.GetActiveAnnouncementsForPathAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActiveAnnouncementsForPathAction</servlet-name>
    <url-pattern>/getActiveAnnouncementsForPathAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStaticPathInfoAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.GetStaticPathInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStaticPathInfoAction</servlet-name>
    <url-pattern>/getStaticPathInfoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPathNamesWithPrefixAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.GetPathNamesWithPrefixAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPathNamesWithPrefixAction</servlet-name>
    <url-pattern>/getPathNamesWithPrefixAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetNodeNamesWithPrefixAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.GetNodeNamesWithPrefixAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNodeNamesWithPrefixAction</servlet-name>
    <url-pattern>/getNodeNamesWithPrefixAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetNodesInPathAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.GetNodesInPathAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNodesInPathAction</servlet-name>
    <url-pattern>/getNodesInPathAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRunsOnPathAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.GetRunsOnPathAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRunsOnPathAction</servlet-name>
    <url-pattern>/getRunsOnPathAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPathsConnectingTwoNodesAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.GetPathsConnectingTwoNodesAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPathsConnectingTwoNodesAction</servlet-name>
    <url-pattern>/getPathsConnectingTwoNodesAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRtBusesOnPathAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.GetRtBusesOnPathAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRtBusesOnPathAction</servlet-name>
    <url-pattern>/getRtBusesOnPathAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNodeAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.admin.AddNodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNodeAction</servlet-name>
    <url-pattern>/addNodeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNodeAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.admin.EditNodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNodeAction</servlet-name>
    <url-pattern>/editNodeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNodeAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.admin.DeleteNodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNodeAction</servlet-name>
    <url-pattern>/deleteNodeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPathAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.admin.AddPathAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPathAction</servlet-name>
    <url-pattern>/addPathAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePathAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.admin.DeletePathAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePathAction</servlet-name>
    <url-pattern>/deletePathAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBusAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.admin.AddBusAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBusAction</servlet-name>
    <url-pattern>/addBusAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditBusAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.admin.EditBusAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBusAction</servlet-name>
    <url-pattern>/editBusAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBusAction</servlet-name>
    <servlet-class>org.iiitb.ibtsic.action.admin.DeleteBusAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBusAction</servlet-name>
    <url-pattern>/deleteBusAction</url-pattern>
  </servlet-mapping>
</web-app>